@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Google Sans Flex", sans-serif; */
    font-family: "DM Sans", sans-serif;
    color: #161616;
    transition: 0.3s;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

h4{

}

h5{

}

a{
    text-decoration: none;
    font-size: 15px;
    letter-spacing: .5px;

}
p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .5px;
}
span{
    font-size: 15px;

}


ul, li {
    list-style: none;
    font-size: 15px;

}

img{
    width: 100%;
}