.header {
  padding: 20px 20px;
  background-color: #252525;
  /* border-bottom: 1px solid gray; */
  /* background: #00d2fc;
  background: linear-gradient(195deg, rgb(109, 0, 252) 1%, rgba(0, 117, 234, 1) 99%); */
}

.header-content {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  /* width: 150px; */
}

.header-content .logo .text {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
  color: white;
  padding: 10px 10px;

}

.header-content .menu {
  display: flex;
  gap: 15px;
  margin-right: 0px;
}

.header-content .menu .menu__link a {
  font-size: 15px;
  color: white;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-content .menu .menu__link a.active {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.header-content .menu .menu__link a:hover {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.header-content .menu .menu__link a i {
  font-size: 16px;
  color: white;
}

/* ********************* hearder mobile  */

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.header-mobile .logo a {
  color: white;
  font-size: 18px;
  padding: 10px 0;
}

.header-mobile .open {
  cursor: pointer;
}

.header-mobile .open i {
  color: white;
  font-size: 25px;
  padding: 3px 10px;
  border-radius: 5px;
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  background-color: #ffffff;
  height: 100vh;
  z-index: 99999;
  box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.aside .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.aside .close i {
  font-size: 25px;
}

.aside .menu {
  display: grid;
  /* gap: 5px; */
  padding-top: 60px;
}

.aside .menu .link {
  font-size: 20px;
  padding: 10px 20px;
  transition: 0s;
}

.aside .menu .link:hover {
  font-size: 20px;
  padding: 10px 20px;
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  color: white;
}

.aside .menu .link.active {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  color: white;
}

@media screen and (max-width: 768px) {
  .header-content {
    display: none;
  }

  .header-mobile {
    display: flex;
  }
}

/* ************* top border  */
.topborder {
  height: 5px;
  background: linear-gradient(135deg,
      #5a2cff,
      #000dff,
      #bd00fc);

  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}


/***************** hero  *******************/

.hero {
  padding: 40px 20px 40px;
  background-image: url('../images/hero-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 15px;
}

.hero-content h3 {
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #3fdfff;
  text-shadow: 0px 1px 9px rgba(0,0,0,0.45);
}

.hero-content h1 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 50px;
  color: white;
  text-shadow: 0px 1px 9px rgba(0,0,0,0.45);
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 800px;
  color: white;
  margin-bottom: 25px;
  text-shadow: 0px 1px 9px rgba(0,0,0,0.45);
}
.hero-content a{
  padding: 12px 30px;
  color: white;
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  border-radius: 5px;
  font-size: 16px;
}
.hero-content a i{
  color: white;
}

@media screen and (max-width: 768px) {
  .hero{
    background-image: none;
    padding: 30px 20px 10px;
  }
  .hero-content {
    padding: 60px 30px;
    text-align: left;
    align-items: start;
    height: auto;
    justify-content: start;
  }

  .hero-content h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .hero-content {
    background-image: url('../images/hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .hero{
    background-image: none;
    padding: 20px 20px 0px;
  }
  .hero-content{
   
  }
  .hero-content h3 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .hero-content h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  
}

/* *********************** breadcrumb area  */

.breadcrumb {
  padding: 80px 20px 40px;
}

.breadcrumb .breadcrumb-content {
  max-width: 1400px;
  position: relative;
  margin-inline: auto;
}

.breadcrumb-content h1 {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 40px;
  /* font-family: "Marcellus", serif; */
}

.breadcrumb-content p {
  text-align: center;
}

@media screen and (max-width:576px) {
  .breadcrumb {
    padding: 60px 20px 30px;
  }

  .breadcrumb-content h1 {
    font-size: 28px;
  }

}

/************************** explore area  */

.explore-area {
  padding: 20px 20px 60px 20px;
}

.explore-area>h2 {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.explore-area-content {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.explore-area__item {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 15px;
  overflow: hidden;
}

.explore-area__item:hover {
  transform: scale(1.02);
}

.explore-area__item .thumbnail {
  position: relative;
}

.explore-area__item .thumbnail .bg-img {}

.explore-area__item .text {
  padding: 15px;
}

.explore-area__item .text h3 {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.explore-area__item .text p {
  text-align: center;
  margin-bottom: 25px;
}

.explore-area__item .text .btn {
  display: block;
  text-align: center;
  background: #00d2fc;
  background: linear-gradient(195deg,
      rgb(109, 0, 252) 1%,
      rgba(0, 117, 234, 1) 99%);
  color: white;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.explore-area__item .text .btn i {
  color: white;
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .explore-area-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .explore-area-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .explore-area-content {
    grid-template-columns: 1fr;
  }
}

/* footer  */

.footer {
  /* background-color: #efefef; */
  background-color: #252525;
  padding: 40px 20px;
}

.footer-content {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.footer-content h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.footer-content a {
  display: block;
  margin-bottom: 10px;
  color: #d4d4d4;
}
.footer-content a i{
  color: #d4d4d4;
}
.footer-content a:hover {
  transform: translateX(5px);
}

/* .footer-content .logo img {
  width: 260px;
  margin-bottom: 10px;
} */
.footer-content .logo .text {
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  color: white;
}

.footer-content .logo p{
  color: #d4d4d4;
  padding-right: 30px;
}

 .copyright{
  padding: 5px 20px;
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .footer-content {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}