.header {
  padding: 20px 20px;
  background-color: #252525;
  /* border-bottom: 1px solid gray; */
  /* background: #00d2fc;
  background: linear-gradient(195deg, rgb(109, 0, 252) 1%, rgba(0, 117, 234, 1) 99%); */
}

.header-content {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  /* width: 150px; */
}

.header-content .logo .text {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
  color: white;
  padding: 10px 10px;

}

.header-content .menu {
  display: flex;
  gap: 15px;
  margin-right: 0px;
}

.header-content .menu .menu__link a {
  font-size: 15px;
  color: white;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-content .menu .menu__link a.active {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.header-content .menu .menu__link a:hover {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.header-content .menu .menu__link a i {
  font-size: 16px;
  color: white;
}

/* ********************* hearder mobile  */

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.header-mobile .logo a {
  color: white;
  font-size: 18px;
  padding: 10px 0;
}

.header-mobile .open {
  cursor: pointer;
}

.header-mobile .open i {
  color: white;
  font-size: 25px;
  padding: 3px 10px;
  border-radius: 5px;
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
}

.aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  background-color: #ffffff;
  height: 100vh;
  height: 100dvh;
  z-index: 99999;
  box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.aside .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.aside .close i {
  font-size: 25px;
}

.aside .menu {
  display: grid;
  gap: 5px;
  padding-top: 60px;
}

.aside .menu .link {
  font-size: 20px;
  padding: 15px 20px;
  transition: 0s;
}

.aside .menu .link:hover {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  color: white;
}

.aside .menu .link.active {
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  color: white;
}

@media screen and (max-width: 768px) {
  .header-content {
    display: none;
  }

  .header-mobile {
    display: flex;
  }
}

/* ************* top border  */
.topborder {
  height: 5px;
  background: linear-gradient(135deg,
      #5a2cff,
      #000dff,
      #bd00fc);

  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}


/***************** hero  *******************/

.hero {
  padding: 40px 20px 40px;
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.hero .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .background img {
  height: 100%;
  z-index: 10;
  object-fit: cover;
  filter: blur(4px);
}

.hero .overlay {
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  z-index: 12;
}


.hero-content h1 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 75px;
  color: white;
  text-shadow: -2px 0px 3px rgb(0, 0, 0, 0.7);
  margin-bottom: 20px;
  /* text-transform: uppercase; */
  font-family: "Tangerine", cursive;
  line-height: 80px;
}

.hero-content p {
  max-width: 800px;
  color: white;
  margin-bottom: 25px;
  text-shadow: -2px 0px 3px rgb(0, 0, 0, 0.7);
}

.hero-content .link {
  padding: 12px 30px;
  color: white;
  background: #00d2fc;
  background: linear-gradient(195deg, #6d00fc 1%, rgba(0, 117, 234, 1) 99%);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.hero-content .icon {
  color: white;
  font-size: 35px;
  animation: float 2s ease-in-out infinite;
}

.hero-content a i {
  color: white;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero-content {
    padding: 60px 30px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 50px;
    line-height: 50px;
  }

  
}

@media screen and (max-width: 576px) {}

/* *********************** breadcrumb area  */

.breadcrumb {
  padding: 80px 20px 40px;
}

.breadcrumb .breadcrumb-content {
  max-width: 1400px;
  position: relative;
  margin-inline: auto;
}

.breadcrumb-content h1 {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 40px;
  /* font-family: "Marcellus", serif; */
}

.breadcrumb-content p {
  text-align: center;
}

@media screen and (max-width:576px) {
  .breadcrumb {
    padding: 60px 20px 30px;
  }

  .breadcrumb-content h1 {
    font-size: 28px;
    margin-bottom: 0;
  }

}

/************************** explore area  */

.explore-area {
  padding: 20px 20px 60px 20px;
}

.explore-area>h2 {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.explore-area .loadmorebtn{
  padding-top: 40px;
  display: flex;
  justify-self: center;
}
.explore-area .loadmorebtn button {
  background: #00d2fc;
  background: linear-gradient(195deg,
      rgb(109, 0, 252) 1%,
      rgba(0, 117, 234, 1) 99%);
  color: white;
  padding: 15px 50px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
.explore-area .loadmorebtn button:hover{
  transform: scale(1.05);
}
.explore-area-content {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.explore-area__item {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 15px;
  overflow: hidden;
}

.explore-area__item:hover {
  transform: scale(1.02);
}

.explore-area__item .thumbnail {
  position: relative;
}

.explore-area__item .thumbnail .bg-img {}

.explore-area__item .text {
  padding: 15px;
}

.explore-area__item .text h3 {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.explore-area__item .text p {
  text-align: center;
  margin-bottom: 25px;
}

.explore-area__item .text .btn {
  display: block;
  text-align: center;
  background: #00d2fc;
  background: linear-gradient(195deg,
      rgb(109, 0, 252) 1%,
      rgba(0, 117, 234, 1) 99%);
  color: white;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.explore-area__item .text .btn i {
  color: white;
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .explore-area-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .explore-area-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .explore-area-content {
    grid-template-columns: 1fr;
  }
}



.search{
  padding: 0px 20px 20px 20px;
}
.search .search-content{
  max-width: 1400px;
  margin-inline: auto;
}

.search-content .field{
  display: grid;
  grid-template-columns: 1fr 60px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.search-content .field input{
  padding: 18px 0px 18px 20px;
  border: none;
  outline: none;
  font-size: 15px;
}
.search-content .field .icon{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(195deg,
  rgb(109, 0, 252) 1%,
  rgba(0, 117, 234, 1) 99%);
}

.search-content .field .icon i{
  font-size: 25px;
  color: white;
}





/* request ***************************  */

.request {
  padding: 80px 20px;
  background: #00d2fc;
  background: linear-gradient(195deg,
      rgb(109, 0, 252) 1%,
      rgba(0, 117, 234, 1) 99%);
  color: #fff;
  text-align: center;
}

.request-content {
  max-width: 650px;
  margin: auto;
}

.request h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
}

.request p {
  color: #ffffff;
  margin-bottom: 40px;
}

.request a {
  padding: 15px 35px;
  border-radius: 8px;
  background: #ffffff;
  color: #191919;
  font-size: 15px;
}








/* footer  */

.footer {
  /* background-color: #efefef; */
  background-color: #252525;
  padding: 40px 20px;
}

.footer-content {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.footer-content h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.footer-content a {
  display: block;
  margin-bottom: 10px;
  color: #d4d4d4;
}

.footer-content a i {
  color: #d4d4d4;
}

.footer-content a:hover {
  transform: translateX(5px);
}

/* .footer-content .logo img {
  width: 260px;
  margin-bottom: 10px;
} */
.footer-content .logo .text {
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  color: white;
}

.footer-content .logo p {
  color: #d4d4d4;
  padding-right: 30px;
}

.copyright {
  padding: 10px 20px;
  background: #1d1d1d;
  text-align: center;
}

.copyright p {
  color: white;
}

@media screen and (max-width: 992px) {
  .footer-content {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}